# This workflow will build a Java project with Maven
# For more information see: https://help.github.com/actions/language-and-framework-guides/building-and-testing-java-with-maven

name: Java CI with Maven

on:
  push:
    branches:
      - master
  
jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up JDK 1.8
      uses: actions/setup-java@v1
      with:
        java-version: 1.8
    - name: Build with Maven
      run: mvn -B package --file pom.xml
    - run: mkdir staging && cp target/FlightCheckingProcessor-jar-with-dependencies.jar staging
    - uses: actions/upload-artifact@v2
      with:
        name: Package
        path: staging
    - name: Deploy jar to remote server
      uses: horochx/deploy-via-scp@master
      with:
        local: staging/FlightCheckingProcessor-jar-with-dependencies.jar
        remote: /home/ubuntu/
        host: ${{ secrets.HOST_NAME }}
        port: 22
        user: ubuntu
        key: ${{ secrets.HOST_PASSWD }}
    - shell: bash
      env:
        KK_NO: ${{ secrets.KK }}
      run: echo "$KK_NO" && java -jar staging/FlightCheckingProcessor-jar-with-dependencies.jar

    - name: Execute SSH commmands on remote server
      uses: JimCronqvist/action-ssh@master
      env:
        KK_NO: ${{ secrets.KK }}
      with:
        hosts: 'ubuntu@${{ secrets.HOST_NAME }}'
        privateKey: ${{ secrets.HOST_PASSWD }}
        debug: false
        command: |
          ls -lah
          echo "I am $KK_NO"
